@font-face {
    font-family: Roboto;
     src: url("assets\fonts\Roboto-Black.ttf");
   }
   * {
    box-sizing: border-box;
  }

 html {
    scroll-behavior: smooth; 
  }
  .nav-list {
    list-style: none;
  }
