.visit {
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.visit__container {}
.visit__content {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
}
.phone {
    display: flex;
    
    padding: 186px 160px 60px 0px;
}
.visit__image {
}
.footer-text {
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #F1CDB3;
padding-left: 20px;

}