.cozy-house {
    padding: 80px 40px 100px 40px;  
    background-color: white;

}

.cozy-house__container {
    display: flex;
    align-items: center;
}

.cozy-house__image {
    flex: 0 1 50%;
}

.cozy-house__content {
    flex: 0 1 50%;
}

.cozy-house__text-block {

    max-width: 430px;
    max-height: 380px;
}
.text-block__pTtitle {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454
    
}

.text-block__pTtitle:not(:last-child) {
    margin: 0px 0px 25px 0px;
}

.text-block__pTsubtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.text-block__pTsutitle:not(:last-child) {
    margin: 0px 0px 25px 0px;
    }

.image-cozy-house {
    width: 300;
    height: 408;
    position: relative;
    text-align: center;
    
}