.need-home {
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.need-home__container {
    display: flex;
    padding-top: 163px;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.need-home__container::before {
    content: "";
    padding: 253px 780px 243px 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 40px;
    top: 0;
    transform: translate(100%, opx);
}

.need-home__content {
   flex: 0 1 50%; 
}

.need-home__text-block {
    max-width: 460px;
    max-height: 332px;
}

.need-home__image {
    flex: 0 1 50%;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 2;
}

/* ======================================= */
.text-block__title {
    font-family: Georgia;
font-weight: 400;
font-size: 44px;
line-height: 130%;
color: #FFFFFF;
max-width: 310px;
max-height: 114px;
}
.text-block__title:not(:last-child) {
margin: 0px 0px 42px 0px;
}

.text-block__subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    max-width: 460px;
    max-height: 72px;
}
.text-block__subtitle:not(:last-child) {
    margin: 0px 0px 42px 0px;
    }

/* ======================================= */