.main {
    flex: 1 1 auto;
}

.main__button {
    flex: 0 0 257px;
}
.button {
    display: inline-block;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 15px;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 15px 45px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    transition: background-color 0.3s ease 0s;
    text-decoration: none;
}

.button:hover {
    background-color: #e5bea5;
}
.button_mod {
    background-color: #F1CDB3;
    text-decoration: none;
}
.button_mod:hover {
    background-color:#e5bea5;
}