.our-friends {
background-color: #F6F6F6;
}

.our-friends__container {
    display: flex;
    max-height: 90px;
    padding: 80px 440px 10px;
    flex-wrap: wrap;
    position: relative;
}
.text-block__friendsTitle {
display: flex;

max-width: 400px; max-height: 90px;
    font-family: Georgia;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454;
}

.pets-block_signature {
    display: flex;
   
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    color: #545454;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 30px;
}

.pets__container {
display: flex;
padding-top: 60px; padding-bottom: 112px;
}

.pets-block__container {
display: flex;
flex-direction: row nowrap;
align-items: center;
align-content: center;
justify-content: space-between;
margin: 90px;
min-height: 435px;
min-width: 270px;
background-color: white;
}

.pets-block_column {
    display: flex;
    flex-direction: column;
    padding-bottom: 36px;
}

.button_arrow {

display: flex;
left: 40px;
margin-top: 192px;

position: absolute;
width: 52px;
height: 52px;

border: 2px solid #F1CDB3;
border-radius: 100px;
}
